/* ========Variables======= */
:root{
--press-state-color: #404BBF;
--secondary-accent-color: #31D0AA;
--primary-brand-color: #4D5AE5;
--white-background-color: #ffffff; 
--hero-background-color:#2e2f42;
--button-background-color: #F4F4FD;
--text-color: #434455;
--subtle-text-color: #8E8F99;
--accent-color: #E7E9FC;
--light-color: #F4F4FD;
--modal-background-color: #FCFCFC;
}

/* ========/Variables======= */

/* =========Common Styles====== */

button{
    cursor: pointer;
}

img{
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

ul, 
ol{
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

.list{
    list-style-type: none;
}

.link{
    text-decoration: none;
}

.section{
    padding-top: 60px;
    padding-bottom: 60px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);

    background-color: var(--white-background-color);
}

.container{
    width: 1158px;
}

/* ========/Common Styles====== */

/* =======HEADER======== */

.container.header{
    display: flex;
}

.logo-header{
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-brand-color);
/* text-align: left; */
}

.studio{
    color: var(--hero-background-color);
}



.logo-header:hover,
.logo-header:focus{
color: var(--press-state-color);
}

.menu.list{
    display: flex;
}

.menu-link{
/* text-align: left; */
color:  var(--hero-background-color);
}

.menu-link:hover,
.menu-link:focus{
color: var(--press-state-color);
}

.contacts{
    font-style: normal;
}

.contacts-list{
    display: flex;
}

.link-contacts{
font-weight: 400;
/* text-align: left; */

color: #434455;
}

.link-contacts:hover,
.link-contacts:focus{
color: #404BBF;
}

/* =======/HEADER======== */

/* ==========HERO======== */
.section.hero{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 60px;
}
.hero{
   background-color:var(--hero-background-color) ;
}

.hero-title{
font-size: 56px;
font-weight: 700;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
}

.hero-button{
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
letter-spacing: 0.04em;
/* text-align: left; */
color: #ffffff;
background-color: var(--primary-brand-color);
}

.hero-button:hover,
.hero-button:focus{
    background-color: var(--press-state-color);
}
/* ==========/HERO======== */

/* ========Our Benefits======== */
.benefits-title{
font-size: 20px;
line-height: 1.2;
font-weight: 500;
letter-spacing: 0.02em;
/* text-align: left; */

color: #2E2F42;
}

.benefits-list{
    display: flex;
}

.benefits-list-item{
    width: 264px;
}
.benefits-text{
font-weight: 400;
/* text-align: left; */
}

/* ========/Our Benefits======== */

/* =========What we are doing======= */
.secondary-title{
font-size: 36px;
/* font-weight: 700; */
line-height: 1.11;
text-align: center;
text-transform: capitalize;

color: #2E2F42;
}

.job-list{
    display: flex;
    column-gap: 24px;
}
/* =========/What we are doing======= */

/* =============Our Team========== */
.section.team{
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 60px;
}
.team{
    background-color: var(--button-background-color);
}

.secondary-title{
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
}

.list-team{
    display: flex;
    column-gap: 24px;
}
.list-item-team{
    background-color: var(--white-background-color);
}

.name{
font-size: 20px;
line-height: 1.2;
font-weight: 500;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.sub-text{
font-weight: 400;
text-align: center;
}
/* =============/Our Team========== */

/* ==============Footer================ */
.footer{
background-color: var(--hero-background-color);
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
color: var(--primary-brand-color);
line-height: 1.17em ;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.studio-footer{
    color: var(--button-background-color);
}

.logo-footer:hover{
color: var(--press-state-color);
}
.footer-slogan{
font-weight: 400;
/* text-align: left; */
color: var(--button-background-color);
}
/* ==============/Footer=============== */

/* ===============Portfolio======================= */
.section.projects{
    padding-top: 96px;
}

.buttons-list{
    display: flex;
}

.filter-button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: 0.04em;
    /* text-align: center; */
    color: var(--primary-brand-color);
    background-color: var(--button-background-color);
}

.filter-button:hover,
.filter-button:focus{
    color: #ffffff;
    background-color: var(--press-state-color);
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.card-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--hero-background-color);
}

.card-sub-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
/* ===============/Portfolio======================= */
